@import "vars"

.main-slider *
	

.section--main-slider
	position: relative
	width: 100%
	height: 100vh
	overflow: hidden

.main-slider--footer
	position: absolute
	left: 0
	right: 0
	bottom: 0
	z-index: 9

.main-slider
	position: relative
	width: 100%
	height: 100vh

.main-slider--item--title_text
	font-family: Montserrat, sans-serif
	letter-spacing: 0.15em
	text-transform: uppercase
	font-weight: 800
	font-size: 140px
	user-select: none
	max-width: 80vw
	text-align: center
	line-height: 120%

.main-slider--footer-grid
	flex-grow: 1

.main-slider--footer--title
	color: white
	max-width: 276px
	margin-right: 50px
	h1
		font-size: 40px
		font-weight: bold
		line-height: 120%

.m-s-f-menu--item-above-title
	font-size: 14px
	line-height: 100%
	opacity: 0.75
	margin-bottom: 7px
	font-weight: 300

.m-s-f-menu--item-desc
	color: white

.m-s-f-menu--item-title
	font-weight: 500
	font-size: 20px
	line-height: 100%

.main-slider--footer--menu
	flex-grow: 1

.m-s-footer-menu--item
	display: flex
	align-items: center
	flex-grow: 1
	border-bottom: 1px solid rgba(255, 255, 255, 0.25)
	padding-bottom: 20px
	cursor: pointer
	user-select: none
	transition: $transition
	margin-right: 20px
	overflow: hidden
	&.active, &:hover
		border-bottom: 1px solid white
		.m-s-f-menu--item-link
			transform: translateX(0)	
	&:last-child
		margin-right: 0

.arrow-left--white
	display: inline-block
	width: 31px
	height: 12px
	background: url('/img/icons/arrow-white.svg') 50% no-repeat

.m-s-f-menu--item-link
	transition: $transition
	margin-left: auto
	transform: translateX(50px)

.bg-wrapper
	position: absolute
	top: 0
	left: 0
	width: 100vw
	height: 100vh
	transform: scale(1.2) perspective(1000px) rotate3d(0, 1, 0, 0deg)

.bg-tilter
	position: absolute
	top: 0
	left: 0
	width: 45vw
	height: 100vh
	z-index: 3
	&:hover ~
		.bg-wrapper
			transform: scale(1.07) perspective(1000px) rotate3d(0, 1, 0, -3deg)
		.hero .main-slider--item--title_text
			background-position: 50% -50%!important
			transform: scale(1.07) perspective(1000px) rotate3d(0, 1, 0, 3deg)

.main-slider
	// position: relative
	// display: grid
	// grid-template-rows: 60px 1.5fr 3fr 60px
	// grid-template-columns: 60px repeat(4, 1fr) 60px
	// background-color: white
	// overflow: hidden
	*
		transition: all 1s cubic-bezier(0.55, 0, 0.1, 1)
		&:before, &:after
			transition: all 1s cubic-bezier(0.55, 0, 0.1, 1)
	.hero
		display: flex
		justify-content: center
		align-items: center
		height: 100vh
		.main-slider--item--title_text
			background-position: 50% 50%
			-webkit-text-fill-color: transparent
			-webkit-background-clip: text
			cursor: default
			z-index: 2
			transform: scale(1.2) perspective(1000px) rotate3d(0, 1, 0, 0deg)